beautifulsoup4==4.8.2
bokeh==1.4.0
Click==7.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.1
lxml==4.5.0
MarkupSafe==1.1.1
numpy==1.18.1
packaging==20.1
pandas==1.0.0
Pillow==9.3.0
pyparsing==2.4.6
pyproj==2.4.2.post1
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
six==1.14.0
soupsieve==1.9.5
tornado==6.0.3
Werkzeug==0.16.1
xlrd==1.2.0
